.building-label {
    text-anchor: end;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 13px;
    fill: DarkCyan;
}

.height-label, #building-info {
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: DarkCyan;
    fill: DarkCyan;
}

rect:hover {
    fill: #CCFFFF;
    opacity: 0.5;
}

text:hover {
    fill: crimson;
    font-weight: bold;
}

h1, h3 {
    font-family: Papyrus, fantasy;
    font-weight: bold;
}

h1 {
    color: crimson;
    text-align: center;
}

img {
    width: 70%;
    height: 70%;
}