

/**** ADD YOUR STYLES ****/


/****************/
/*   BAR-CHART  */
/****************/

.bar {
  fill: #3C948B;
}

.bar:hover {
  fill: #327972;
}

.axis {
  font: 9px sans-serif;
}

.axis path,
.axis line,
.domain {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}

#chart-area text {
  font-size: 9px;
}

.axis-label {
  fill: #888;
  font-size: 9x;
}